
include ./header

.container
    .row
        include ./sidebar

        .col-md-9.main(style='background-color: #f8f8f8; max-width: 73.7%;')
            main
                .row
                    .col-lg-10(style='text-align: center; margin:auto')
                       
                        
                        form(action=`/admin/about` method="POST" style=' min-width: 60%; margin:auto;margin-top: 20px;text-align:center;')
                            h4(style='margin: 10px auto;') About Us
                            .form-group(style='max-width: 100%;')
                            if about.length !== 0
                                textarea.form-control(id="editor" name="content")= about[0].content
                            else
                                textarea.form-control(id="editor" name="content" placeholder='Type something') 
                            .form-group
                                input.form-control.btn.btn-primary(type="submit" value="Save" style='border: 1px solid silver;')

                       
                    



script(type='text/javascript' src='/scripts/admin/script.js')

script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js')


script. 
    let editor = new FroalaEditor('#editor', {}, function () {
        console.log(editor.html.get())
    })