// header
include ./header.pug

.container
 .row
  main.col-lg-8
   div(style='background-color: white; padding: 10px;')
    h4(style='text-align: center; margin-top: 20px;') About Us
    span(style='display: block; padding: 20px; text-align: justify; line-height: 30px;')!= about[0].content

  // sidebar
  include ./sidebar.pug

 
  // footer
  include ./footer.pug
script(src='/scripts/script.js')
script(src='/scripts/slideshow.js')
